*, *:before, *:after {
    box-sizing: border-box;
}

body {
    background-color: #5F7CBE;
}

nav {
    background-color: #FFA500; 
    display: flex;
    width: 100%;    
    justify-content: flex-start;
    font-family: Arial, Helvetica, sans-serif;
    padding: .3em 0em .3em 0em;

}

nav a {
    color: rgb(126, 41, 41);
    margin: .2em 1em 0px 3em;
    font-size: small;
}

nav a:hover {
    color: white;
}

.wrapper {
    background-color: #ffffff;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    color: royalblue;
    font-size: large;
    padding-top: .6em;
}

.flex-container {
    display: flex;
    /* height: 300px; */
    width: 100%;
    background-color: #faebd7;
    flex-direction: row;
    overflow: auto;
}
.flex-item {
    background-color: hotpink;
    flex: 1;
    margin: 1em;
}

.section-item {
    margin: 0 auto;
    width: 100%
}
.img-hero {
    width: 100%;
    height: auto;
    overflow: hidden;
}

main {
    flex: 3;
    margin: 1em;
}
main > h2 {
    color: rgb(253, 4, 4);
    text-align: left;
    font-size: 1.2em;
}
main p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .7em;
}

article > h3 {
    color: rgb(253, 4, 4);
    font-size: 1.2em;
    text-align: left;
}

article p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .7em;
}
aside {
    flex: 1;
    margin: 1em;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}

footer a {
    color: goldenrod;
}

footer a:hover {
    color: whitesmoke;
}